<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shake n Quake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF36C9CB1C57CB0300FB5D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF36C9DF1C57CB0300FB5D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF36C9EA1C57CB0300FB5D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
